---
export async function getStaticPaths() {
  const response = await fetch("https://dog.ceo/api/breeds/list/all");
  const { message: doggos } = await response.json();

  return Object.keys(doggos).map((breed) => ({ params: { breed } }));
}
const { breed } = Astro.params;

const response = await fetch(
  `https://dog.ceo/api/breed/${breed}/images/random`
);
const { message } = await response.json();
const { imageUrl = message } = Astro.props;
---

<main>
  <p>Hello on the {breed} page</p>
  <img src={imageUrl} alt={breed} />
</main>
